<%= simple_form_for([@service.project, @service], remote: request.xhr?) do |f| %>
  <%= f.association :project %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :status %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
