<p id="notice"><%= notice %></p>

<h1>Listing Services</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Project</th>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.project_name %></td>
        <td><%= service.name %></td>
        <td><%= service.description %></td>
        <td><%= service.status %></td>
        <td>
          <%= link_to 'Show', project_service_path(service.project_id, service.id) %>
          <%= link_to 'Edit', edit_project_service_path(service.project_id, service) %>
          <%= link_to 'Destroy', project_service_path(service.project_id, service.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Service', new_service_path %>
