<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @service.project_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @service.status %>
</p>

<%= link_to 'Add API', new_project_service_api_path(@service.project_id, @service), class: 'btn btn-info' %> |
<%= link_to 'Edit', edit_project_service_path(@service.project_id, @service) %> |
<%= link_to 'Back', project_services_path(@service.project_id) %>
<%= render 'services/api_list' %>