<%= simple_form_for([@project, @service, @api], remote: request.xhr?) do |f| %>
  <%= f.association :service %>
  <%= f.input :name %>
  <%= f.input :request_type %>
  <%= f.input :path %>
  <%= f.input :description %>
  <%= f.input :status %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
