<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @api.service_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @api.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @api.request_type %>
</p>

<p>
  <strong>Path:</strong>
  <%= @api.path %>
</p>

<p>
  <strong>Description:</strong>
  <%= @api.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @api.status %>
</p>

<%= link_to 'Add Fields', new_project_service_api_field_path(@api.project, @api.service, @api) %> |
<%= link_to 'Edit', [@api.project, @api.service, @api] %> |
<%= link_to 'Back', [@api.project, @api.service] %>
