<p id="notice"><%= notice %></p>

<p>
  <strong>Api:</strong>
  <%= @field.api %>
</p>

<p>
  <strong>Name:</strong>
  <%= @field.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @field.field_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @field.description %>
</p>

<%= link_to 'Edit', edit_field_path(@field) %> |
<%= link_to 'Back', fields_path %>
