<!DOCTYPE html>
<html>
<head>
  <title>Sp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar static: :top, brand: "Home", responsive: true do %>
  <% if current_user %>
	    <%= menu_group do %>        
	    
	        <%= drop_down "Products" do %>
	            <%= menu_item "Things you can't afford", '/home/index' %>
	            <%= menu_item "Things that won't suit you anyway", '/home/index' %>
	            <%= menu_item "Things you're not even cool enough to buy anyway", '/home/index' %>        
	        <% end %>
	        <%= menu_item "About Us", '/home/index' %>
	        <%= menu_item "Contact", '/home/index' %>
	    <% end %>
	    <%= menu_group pull: :right do %>
	        
	            <%= menu_item "Log Out",  destroy_user_session_path, :method => :delete %>
	        
	    <% end %>
   <% end %>
<% end %>
<div class="container">
<%if notice %>
	<div class="alert alert-success"><%= notice %></div>
<%end%>
<%if alert %>
	<div class="alert alert-success"><%= alert %></div>
<%end%>
<%= yield %>
</div>
</body>
</html>
